.price-input-wrapper :is(input:focus, input:valid)~label {
    border-color: rgb(150, 150, 200);
}

.price-input {
    font-size: 100%;
    outline: none;
    border: 1px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 0px;
    width: 100%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.price-icon {
    position: absolute;
    right: 30px;
    bottom: 10px;
    color: #8a8a8a;
}

.price-arrow {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #8a8a8a;
    cursor: pointer;
}

.dropdown-list {
    position: absolute;
    top: 100%;
    right: 0;
    background: #0F111A;
    border: 1px solid #35373f;
    border-radius: 5px;
    list-style: none;
    padding: 0;
    margin: 5px 0 0;
    width: 100px;
    z-index: 10;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    max-height: 100px;
    /* Adjust based on your preference */
    overflow-y: auto;
}

.dropdown-list li {
    padding: 5px;
    color: #8a8a8a;
    cursor: pointer;
}

.dropdown-list li:hover {
    background: #0F111A;
}

.inputGroup {
    margin: 0em 0 0em 0 !important;
    max-width: 250px !important;
    position: relative;
}

.inputGroup input {
    font-size: 0.75rem;
    padding: 11px 10px;
    outline: none;
    border: 1px solid #7796A9;
    background-color: transparent;
    border-radius: 7px;
    width: 250px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.inputGroup label {
    font-size: 0.75rem;
    font-weight: 700;
    position: relative;
    left: 0;
    top: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    background-color: #0F111A;
    color: #7796A9;
}


/* .inputGroup input:focus~label {
    transform: translateY(-60%) scale(0.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #0F111A;
} */


/* .price-input-container {
  position: relative;
  margin: 20px;
  width: 200px;
}



.price-input-wrapper {
  font-family: 'Segoe UI', sans-serif;
  margin: 1em 0 1em 0;
  max-width: 190px;
  position: relative;
}
.price-label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}
.price-input-wrapper :is(input:focus,input:valid)~.price-label{
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  /* background-color: #e8e8e8; }*/


/* .inputGroup input:focus {
  border-color: rgb(150, 150, 200);
} */